 // Bourbon & Neat
 @import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles




    //Other

*{box-sizing:border-box}

.x {
    width:450px;
    background:url(../images/hipster.jpg);
    background-size:450px 500px;
    background-repeat:no-repeat;
    margin-left:200px;
    }
.appear{
    display:block;
  }

.hide{
  display:none;
    }

h2{
  width:450px;
  border:1px solid #CECFCA;
  border-radius:7px;
  font-family:Serif;
  font-size:25pt;
  text-align:center;
  background-color:#CECFCA;
  }

.box1,.box2,.box3{
  width:450px;
  margin-top:10px;
  font-family:Helvetica,Arial;
  font-size:11pt;
  color:orange;
  }
