 // Bourbon & Neat
 @import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles


.accordion {
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 40px;
  width: 75%;

    .box1, .box2, .box3 {
      //padding-bottom: 10px;
      border: 1px solid #B8933D;
      background: #260D1F;
      color: #215263;
      font-size: 20px;
      text-align: center;
      border-radius: 5px;
      height: 65px;
      overflow: hidden;
    }

    .box1:hover {
      background-color: #215263;
      color: #260D1F;
    }
    .box2:hover {
      background-color: #215263;
      color: #260D1F;
    }
    .box3:hover {
      background-color: #215263;
      color: #260D1F;
    }

    .content {
      background: #B8933D;
      height: 5px;
      overflow:hidden;
      box-shadow: inset 0px 10px 20px -15px #000;
      border-radius: 5px;
      text-align: center;
      padding: 2px;
      color: #215263;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}
